#content {
    overflow: auto;
    white-space: nowrap;
}

.day {
    width: 100px;
    display: inline-block;
    margin: 3px;
    text-decoration: none;
}

.day-description {
    text-align: center;
}

.day-entries {
    border: 1px grey solid;
    width: 100%;
    height: 400px;
    position: relative;
}

.entry {
    width: 100%;
    position: absolute;
}

.entry .description {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.entry:hover .description {
    visibility: visible;
}