<html>
    <head>
        <!-- TODO download minimized -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            function appendData(data) {
                console.log("Appending data");
                const uniqueDates = getUniqueDates(data);
                console.log(uniqueDates);

                let dateEltMap = new Map();

                const contentDiv = document.getElementById("content");
                for (const date of uniqueDates) {
                    const dateElt = document.createElement("div");
                    dateElt.setAttribute("data-date", date);
                    dateElt.setAttribute("class", "day");
                    contentDiv.append(dateElt);
                    dateEltMap[date] = dateElt;
                }

                console.log(dateEltMap);
            }
        </script>
    </head>
    <body>
        This is index
        <div id="content">
        </div>
    </body>
</html>